.loading-bar{
    background: #1e87f0;
    height: 3px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: width 1.5s;
    -moz-transition: width 1.5s;
    -o-transition: width 1.5s;
    transition: width 1.5s;
    width: 0%
}



/******* GLOBAL *******/
.wrapper{padding: 0 10px}
.font-color-primary{color: #058C8C}
/******* FORM *******/
.similik-radio input, .similik-checkbox input{display: none}
.similik-radio .fas, .similik-checkbox .fas{font-size: 16px; padding-right: 5px}
.similik-radio label, .similik-checkbox label{cursor: pointer}
.similik-switch .fas{color: #058C8C; font-size: 22px; cursor: pointer}
.field-validation-error{color: #dc3545}