.idea
.idea/*

var/*
!var/.htaccess

vendor/*
!vendor/.htaccess

.phpstorm.meta.php

config/*
!config/.htaccess

public/media
public/theme/admin/default/js/node_modules
public/theme/admin/default/js/node_modules/*
public/theme/admin/default/js/dist
public/theme/admin/default/js/dist/*
public/theme/admin/default/js/package-lock.json


public/theme/front/default/js/node_modules
public/theme/front/default/js/node_modules/*
public/theme/front/default/js/dist
public/theme/front/default/js/dist/*
public/theme/front/default/js/package-lock.json

public/js/node_modules
public/js/node_modules/*
public/js/dist
public/js/dist/*
public/js/package-lock.json