/* COLOR VARIABLES */
:root {
    --primary: brown;
    --secondary: red;
    --borderColor: #e5e5e5;
}
.text-danger{color:#f0506e}
.text-success{color:#32d296}
/**************************************** LOADING ICON *********************************************/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left:-25px;
    margin-top: -20px;
}

.spinner > div {
    background-color: #96efca;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
html {font-size: 14px !important;}
.wrapper{width: 1200px; margin: 0 auto}
#container{padding: 0 20px; box-sizing: border-box}
/* FORM */
.group-wrapper{
    display: inline;
}
.group-form{float: left; width: 50%; box-sizing: border-box;padding: 10px}
.similik-form-button{margin-top: 15px}

/* CHECKOUT PAGE*/
.checkout-cart-summary-table td{text-align: right}
/* SHOPPING CART PAGE*/
.cart-item-thumb{ float: left; padding-right: 10px}
.cart-tem-info{overflow: hidden}

/* HEADER */
.header{padding-top: 20px; position: relative}
.logo{float: left;}
.customer-area-header{float: right}
.main-menu{float:left; width: 100%}
/* FOOTER */
.container .footer{padding-top: 50px; padding-bottom: 20px}
/* PRODUCT LISTING PAGE */
.product-list .listing-tem{margin-bottom: 30px}
.listing-tem .product-price-listing{margin: 10px 0}
.list-placeholder-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.product-thumbnail-listing{text-align: center; height: 220px}
.product-thumbnail-listing img {vertical-align: middle}
.product-price-listing .regular-price{font-weight: 700; text-decoration: line-through}
.uk-pagination li > a {line-height: 30px}
.uk-pagination li .uk-input {text-align: center;width: 35px; padding:5px}
.uk-pagination li a.uk-input {padding-top: 0}
.products-pagination{margin-top: 20px}
/* PRODUCT SINGLE PAGE */
.product-single-name{font-size: 19px; font-weight: bold}
.regular-price{font-weight: 700; text-decoration: line-through}

/*MINI CART*/
.mini-cart-content{
    box-shadow: none !important;
    padding: 10px !important;
    border: 1px solid var(--borderColor);
    min-width: 290px !important
}
.mini-cart-wrapper{
    position: absolute !important;
    top: 50px;
    right: 0;
}